# API Gateway Configuration

# Environment
NODE_ENV=development

# Port
PORT=8002

# Service URLs
USER_SERVICE_URL=http://localhost:8000
BOOK_SERVICE_URL=http://localhost:8001

# CORS
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:5173